@model TreeStore.Models.Entities.Media

@{
    ViewData["Title"] = "Medya Detaylarý";
}

<h2>Medya Detaylarý</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Reply" asp-route-id="@Model.Id">Cevapla</a>
    <a class="btn btn-default" asp-action="Index">Listeye Geri Dön</a>
</div>
