@model TreeStore.Models.Entities.Media
@{
    ViewData["Title"] = "ModalCreate";
    Layout = null;
}
<style>
    .mediaSelected {
        background-color: lawngreen
    }
</style>
<div id="myTabs">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#upload@(ViewBag.Element)" aria-controls="upload@(ViewBag.Element)" role="tab" data-toggle="tab">Yükle</a></li>
        <li role="presentation"><a href="#browse@(ViewBag.Element)" aria-controls="browse@(ViewBag.Element)" role="tab" data-toggle="tab">Gözat</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="upload@(ViewBag.Element)">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase ">Dosya Yükle</span>
                    </div>
                </div>
                <form enctype="multipart/form-data" id="modalForm" name="modalForm" method="post">
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="form-group">
                                <label asp-for="Title"></label>
                                <input type="text" asp-for="Title" class="form-control" tabindex="1" autofocus="autofocus" />
                                <span class="text-danger" asp-validation-for="Title"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <input type="text" asp-for="Description" class="form-control" tabindex="2" />
                                <span class="text-danger" asp-validation-for="Description"></span>
                            </div>
                            <div class="form-group">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="input-group input-large">
                                        <span class="input-group-addon btn default btn-file">
                                            <input type="file" id="FileName" name="uploadFile">
                                        </span>
                                    </div>
                                    @Html.ValidationMessage("FileExist", new { @class = "text-danger" })
                                    <span class="text-danger" asp-validation-for="FileName"></span>
                                </div>
                                <div class="clearfix margin-top-10">
                                    <span class="label label-success">UYARI !</span> Dosyanın uzantısı <strong>.doc, .docx, .pdf, .rtf, .jpg, .gif</strong> ya da <strong>.png</strong> olmalıdır.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" tabindex="10" class="btn blue" id="modalSave" onclick="modalSaveFunc@(ViewBag.Element)()">Yükle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="browse@(ViewBag.Element)">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase ">Dosya Seç</span>
                    </div>
                </div>
                <div class="row form-inline">
                    <input type="text" id="word" placeholder="ara" class="form-control col-md-4" />
                    <select name="year" id="year" class="form-control col-md-2"></select>
                    <select name="month" id="month" class="form-control col-md-2"></select>
                    <select name="category" id="category" class="form-control col-md-2"><option selected>Resim</option><option>Video</option><option>Belge</option></select>
                    <input type="button" id="search@(ViewBag.Element)" value="Ara" class="form-control btn-info col-md-2">
                </div>
                <br />

                <div class="row" id="modal-gallery" style="max-height:300px; overflow-y:scroll;">
                </div>
                <input type="hidden" value="" id="temp" />
            </div>
        </div>
    </div>
</div>


@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    function modalSaveFunc@(ViewBag.Element)() {
        var data = new FormData(document.getElementById("modalForm"));
        $.ajax({
            url: "/Admin/Media/ModalCreate",
            cache: false,
            type: "POST",
            data: data,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.result == "false") {
                    alert("İşlem başarısız");
                }
                else {
                    var modal = $('#modal'+'@(ViewBag.Element)');
                    modal.find('.modal-body').html('');
                    modal.find('.modal-footer').html('');
                    modal.find('.modal-body').append("<h1 class='text-success'>İşlem Başarılı</h1>")
                    var delay = 1000;
                    setTimeout(function () { $('#modal' + '@(ViewBag.Element)').modal('hide'); }, delay);
                
                    $('#@(ViewBag.Element)').val(data.result);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                if (jqXHR.status == 500) {
                    alert('Internal error: ' + jqXHR.responseText);
                } else {
                    alert('Unexpected error.');
                }
            }
        });


    }
        $(document).ready(function () {
            $.validator.unobtrusive.parse("#formVal");

            $(function monthandyearWrite() {
                var modal = $('#modal'+'@(ViewBag.Element)');
                var now = new Date();
                for (var i = 1; i <= 12; i++) {
                    if (i == now.getMonth() + 1) {
                        modal.find('#month').append("<option id='" + i + "' selected>" + i + "</option>")
                    } else {
                        modal.find('#month').append("<option id='" + i + "'>" + i + "</option>")
                    }
                }
                for (var i = now.getFullYear(); i >= 2017; i--) {
                    if (i == now.getYear()) {
                        modal.find('#year').append("<option id='" + i + "' selected>" + i + "</option>")
                    }
                    else {
                        modal.find('#year').append("<option id='" + i + "'>" + i + "</option>")
                    }
                }
            });

            $('#modal@(ViewBag.Element) #myTabs a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

        });

</script>
<script>
    $("#search@(ViewBag.Element)").click(function modalgallery() {
        var modal = $('#modal'+'@(ViewBag.Element)');
        var word = modal.find('#word').val();
        var year = modal.find('#year').val();
        var month = modal.find('#month').val();
        var category = modal.find('#category').val();
        modal.find('#modal-gallery').html('');
        $.ajax({
            url: "/Admin/Media/ModalGallery",
            cache: false,
            type: "POST",
            data: { word, year, month, category},
            success: function (data) {
                $.each(data.result, function (k, v) {
                    var modal = $('#modal'+'@(ViewBag.Element)');
                    if (v.fileType == "Image")
                    {
                        modal.find('#modal-gallery').append("<div class='col-sm-2' style='text-align:center'><img class='img-thumbnail' onclick=\"imgSelect@(ViewBag.Element)(this,'@(ViewBag.AssetsUrl)"+ v.fileUrl + v.fileName + "');\" style='width:110px; height:80px; margin-top:10px;' src='@ViewBag.AssetsUrl" + v.fileUrl + v.fileName + "'/><figcaption style='font-size:10px;'>" + v.title.substring(0, 10) + "</figcaption></div>");

                    }
                    else if (v.fileType == "Document")
                    {
                        modal.find('#modal-gallery').append("<div class='col-sm-2' style='text-align:center'><i onclick=\"imgSelect@(ViewBag.Element)(this,'@(ViewBag.AssetsUrl)"+ v.fileUrl + v.fileName + "');\" style='line-height:90px;width:100px; height:100px; margin-top:10px;'  class='img-thumbnail inline-block big fa fa-file-pdf-o fa-4x ' aria-hidden='true'></i><figcaption style='font-size:10px;'>"+v.title.substring(0,10)+"</figcaption></div>");                    }
                    else
                    {
                        modal.find('#modal-gallery').append("<div class='col-sm-2' style='text-align:center'><video class='img-thumbnail' onclick='imgSelect@(ViewBag.Element)(this,$(this).find(\"source\").attr(\"src\"));' style='width:110px; height:80px; margin-top:10px;' autoplay><source src='@ViewBag.AssetsUrl" + v.fileUrl + v.fileName + "' type='video/mp4' /></video><figcaption style='font-size:10px;'>" + v.title.substring(0, 10) + "</figcaption></div>");
                    }
                });
            },
            error: function () {
                alert("Bilinmeyen bir hata oluştu!");
            }
        });
    });
</script>
<script>

    function imgSelect@(ViewBag.Element)(el, par) {
        $('#modal@(ViewBag.Element) #temp').val(par);
        $("#modal@(ViewBag.Element) #browseSave").css("display", "inline");
        $(".mediaSelected").removeClass("mediaSelected");
        $(el).addClass("mediaSelected");
    }
    $("#modal@(ViewBag.Element) #browseSave").click(function () {
        $('#' + '@(ViewBag.Element)').val($('#modal@(ViewBag.Element) #temp').val());
    });

</script>