@model TreeStore.Models.Campaign

@{
    ViewData["Title"] = "Kampanya Sil";
}

<h2>Kampanya Sil</h2>

<h3>Silmek istediðinize emin misiniz?</h3>
<div>
 
    <hr />
    <form asp-action="Delete">
        <dl class="dl-horizontal">
            <input type="hidden" asp-for="Id" />
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Slogan)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Slogan)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StartedDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StartedDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ImagePath)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ImagePath)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>
         
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UpdateDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UpdateBy)
            </dd>
        </dl>


        <div class="form-actions no-color">
           
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            <a class="btn btn-default" asp-action="Index">Listeye geri dön</a>
        </div>
    </form>
</div>
