@model TreeStore.Models.Campaign

@{
    ViewData["Title"] = "Kampanya Düzenle";
}

<h2>Kampanya Düzenle</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <div class="form-group">
                    <label asp-for="ImagePath" class="col-md-2 control-label">Kampanya Resmi</label>
                    <div class="form-group" style="margin-left:920px;">
                        <img src="~/uploads/@Model.ImagePath" style="width:80px;height:80px;margin-left:-810px;" />
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Slogan" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Slogan" class="form-control" />
                <span asp-validation-for="Slogan" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StartedDate" class="form-control" type="date"/>
                <span asp-validation-for="StartedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EndDate" class="form-control" type="date"/>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImagePath" class="col-md-2 control-label">@Html.DisplayNameFor(model => model.ImagePath)</label>
            <div class="col-md-9">
                <div class="input-group">
                    <input asp-for="ImagePath" class="form-control" />
                    <span class="input-group-btn">
                        <a class="product ui-btn ui-btn_primary" id="uploadModal" type="button" onclick="browseMedia('ImagePath')">SEÇ</a>
                    </span>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsActive" />
                    <label asp-for="IsActive"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CategoryCampaign" class="col-md-2 control-label">Kategoriler</label>
            <div class="col-md-4">
                @foreach (var category in (IEnumerable<SelectListItem>)ViewBag.Categories)
                {
                    <input type="checkbox" name="CategoryIds[]" value="@category.Value" checked="@category.Selected" /> @category.Text
                    <br />
                }
                <span asp-validation-for="CategoryCampaign" class="text-danger"></span>
            </div>
            <label asp-for="ProductCampaign" class="col-md-2 control-label">Ürünler</label>
        
                <div class="col-md-4">
                    @foreach (var product in (IEnumerable<SelectListItem>)ViewBag.Products)
                    {
                        <input type="checkbox" name="ProductIds[]" value="@product.Value" checked="@product.Selected" /> @product.Text
                        <br />
                    }
                    <span asp-validation-for="ProductCampaign" class="text-danger"></span>
                </div>
        </div>
    <input type="hidden" asp-for="Id" />

        @*<div class="form-group">
            <label asp-for="CreateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreateDate" class="form-control" readonly/>
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdateDate" class="form-control" readonly/>
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedBy" class="form-control" readonly/>
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdateBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdateBy" class="form-control" readonly/>
                <span asp-validation-for="UpdateBy" class="text-danger"></span>
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-action="Index">Listeye geri dön</a>
</div>
@Html.Partial("_BrowseMedia", new ViewDataDictionary(this.ViewData) { { "element", "ImagePath" } })
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
