@model TreeStore.Models.Product

@{
    ViewData["Title"] = "Ürün Sil";
}

<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <h3>Silmek istediğinize emin misiniz?</h3>
        <div>
            <hr />
            <form asp-action="Delete">
                <dl class="dl-horizontal" style="font-size:15px;">
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DiscountPrice)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DiscountPrice)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CompanyLink)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CompanyLink)
                    </dd>
                    <input type="hidden" asp-for="Id" />
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreateDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.UpdateDate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UpdateDate)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreatedBy)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.UpdateBy)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UpdateBy)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Category.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Slider)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Slider.Name)
                    </dd>
                </dl>


                <br />
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Sil" class="product ui-btn ui-btn_primary" />&nbsp;&nbsp;&nbsp;
                        <a class="product ui-btn ui-btn_primary" asp-action="Index">Ürünler Listesine geri dön!</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
