@model TreeStore.Models.Product

@{
    ViewData["Title"] = "Ürünler";
}  <!-- Loader -->
<!-- Loader end -->

<div class="layout-theme animated-css" data-header="sticky" data-header-top="200">






    <div class="border-main">
        <div class="container">
            <div class="row">

                <!-- end col -->
            </div>
            <!-- end row -->


            <section class="product-card">
                <div class="row">

                    @{ var discount = (int)(100 - ((@Model.DiscountPrice * 100) / @Model.Price));}
                    <div class="promotion">
                        @{ if ((DateTime.Now.Day - Model.UpdateDate.Day) < 3)
                                        {
                            <h5><span style="margin-left:240px;" class="label label-warning">Yeni-% @discount İNDİRİM</span> </h5>
                                        }

                        }


                        <div class="col-md-5 col-md-offset-1">
                            <div class="product-card__slider" id="image-block">
                                <div >

                                   <img src="~/uploads/@Model.ImagePath" style="width:400px;height:350px;"/>
                                </div>
                               
                            </div>
                            <!-- end product-card__slider -->
                        </div>

                        <div class="col-md-6">
                            <div class="product-card__main">
                                <h1 class="product-card__name">@Model.Name</h1>
                                <div class="product-card__category"><a href="#">@Model.Category.Name</a></div>
                                <br />
                                <br />
                                @{ if ((DateTime.Now.Day - Model.UpdateDate.Day) < 3)
                                             {
                                    <div class="product-card__availability"><i class="icon fa fa-check-circle"></i>Kampanya Dahilinde</div>
                                                }

                                }

                                <div class="product-card__price"> <span class="product-card__price-new">@Model.DiscountPrice ₺ </span> <span class="product-card__price-old">@Model.Price ₺</span> </div>
                                <div class="product-card__description">
                                    @Model.Description
                                </div>


                                <div class="row">

                                    <div class="col-lg-12 col-md-10 col-sm-12 col-xs-12">

                                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Ürün Düzenle</a>
                                        <a class="btn btn-primary" asp-action="Index">Ürün Listesine Geri Dön</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- end row -->
            </section>
            <!-- end product-card -->




        </div>
        <!-- end #wrapper -->
    </div>
</div>

<script src="/assets/plugins/isotope/jquery.isotope.min.js"></script>


<!-- end layout-theme -->
<!-- SCRIPTS -->
<!--Color Switcher-->
