@model IEnumerable<TreeStore.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-3">
        <aside class="sidebar">
            <section class="widget widget-category widget-category_mod-a wow bounceInLeft" data-wow-duration="2s">
                <h3 class="widget-title ui-title-block ui-title-block_small"><i class="icon fa fa-bars"></i>CATEGORIES</h3>
                <div class="block_content">
                    <ul class="list-categories list list-links">
                        <li class="list-categoriesitem"> <a class="list-sidebarlink" href="javascript:void(0);"> <span class="list-categoriesname">T-SHIRTS & APPAREL</span> <span class="list-categoriesamout">(23)</span> </a> </li>
                        <li class="list-categoriesitem"> <a class="list-sidebarlink" href="javascript:void(0);"> <span class="list-categoriesname">ELECTRONICS & GADGETS</span> <span class="list-categoriesamout">(23)</span> </a> </li>
                        <li class="list-categoriesitem"> <a class="list-sidebarlink" href="javascript:void(0);"> <span class="list-categoriesname">TOOLS & OUTDOORS</span> <span class="list-categoriesamout">(23)</span> </a> </li>
                        <li class="list-categoriesitem"> <a class="list-sidebarlink" href="javascript:void(0);"> <span class="list-categoriesname">ELECTRONICS & GADGETS</span> <span class="list-categoriesamout">(23)</span> </a> </li>
                    </ul>
                </div>
            </section>
        </aside>
    </div>
    <div class="col-md-9">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <img src="~/uploads/6-2017/@item.ImagePath" height="260" width="260" alt="Goods">
                <h4 class="products__name"><a href="#">@item.Name</a></h4>
                <div class="products__category"><a href="#">@*@item.Category.Name*@</a></div>
                <div class="products__inner clearfix">
                    <span class="products__price-new">@item.DiscountPrice</span> <span class="products__price-old">@item.Price</span>
                </div>
                <footer class="products-btns clearfix"></footer>
                <span class="label-wrap"><span class="label label-warning">NEW</span></span>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>


        }
    </div>
</div>

@*<li class="products__item">
    <img src="~/uploads/6-2017/@item.ImagePath" height="260" width="260" alt="Goods">
    <h4 class="products__name"><a href="#">@item.Name</a></h4>
    <div class="products__category"><a href="#">@item.Category.Name</a></div>
    <div class="products__inner clearfix">
        <span class="products__price-new">@item.DiscountPrice</span> <span class="products__price-old">@item.Price</span>
    </div>
    <footer class="products-btns clearfix">
       
        
    </footer>
    <span class="label-wrap"><span class="label label-warning">NEW</span></span>
</li>

<td>
    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
</td>
        </tr>*@

