@model IEnumerable<TreeStore.Models.Campaign>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-primary" asp-action="Create">Kampanya Ekle</a>
</p>
<br />

<div class="row">
    <div class="col-md-3">
        <aside class="sidebar">
            <section class="widget widget-category widget-category_mod-a wow bounceInLeft" data-wow-duration="2s">
                <h3 class="widget-title ui-title-block ui-title-block_small"><i class="icon fa fa-bars"></i>CATEGORIES</h3>
                <div class="block_content">
                    <ul class="list-categories list list-links">
                        <li class="list-categoriesitem"> <a class="list-sidebarlink" href="javascript:void(0);"> <span class="list-categoriesname">T-SHIRTS & APPAREL</span> <span class="list-categoriesamout">(23)</span> </a> </li>
                        <li class="list-categoriesitem"> <a class="list-sidebarlink" href="javascript:void(0);"> <span class="list-categoriesname">ELECTRONICS & GADGETS</span> <span class="list-categoriesamout">(23)</span> </a> </li>
                        <li class="list-categoriesitem"> <a class="list-sidebarlink" href="javascript:void(0);"> <span class="list-categoriesname">TOOLS & OUTDOORS</span> <span class="list-categoriesamout">(23)</span> </a> </li>
                        <li class="list-categoriesitem"> <a class="list-sidebarlink" href="javascript:void(0);"> <span class="list-categoriesname">ELECTRONICS & GADGETS</span> <span class="list-categoriesamout">(23)</span> </a> </li>
                    </ul>
                </div>
            </section>
        </aside>
    </div>
    <div class="col-md-9">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <a href="#" style="height: 250px;" class="img-link"><img alt="img" style="display: block; height: auto; max-width: 100%;" class="img-responsive img-thumbnail" src="~/uploads/6-2017/@item.ImagePath"></a>
                <div class="form-group" style="bottom:0;">
                    <h3> @item.Name </h3>

                    <p>@item.Description</p>
                    <p>@item.Slogan</p>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>


                
            </div>
        }
        </div>
    </div>
