@model TreeStore.Models.Entities.Subscription

@{
    ViewData["Title"] = "Abone Detaylarý";
}

<h2>Abone Detaylarý</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSubscribed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSubscribed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubscriptionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnsubscriptionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnsubscriptionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConfirmationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConfirmationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConfirmationCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConfirmationCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Reply" asp-route-id="@Model.Id">Düzenle</a>
    <a class="btn btn-default" asp-action="Index">Listeye Geri Dön</a>
</div>
