
@{
    ViewData["Title"] = "Home Page";
}
@section Scripts {

    <script src="/assets/plugins/isotope/jquery.isotope.min.js"></script>

}
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-3 col-xs-3">
            <div class="mega-container visible-lg visible-md">
                <div class="navleft-container">
                    <div class="mega-menu-title"><h3>Kategoriler</h3></div>
                    <div class="mega-menu-category">
                        <ul class="nav">
                            @foreach (var mainCategory in ViewBag.mainCategories)
                            {
                                <li>
                                    <a href="#">@mainCategory.Name</a> <div class="wrap-popup">
                                        <div class="popup">
                                            <div class="row">
                                                @foreach (var category in ViewBag.Categories)
                                                {
                                                    @if (category.ParentCategoryId == mainCategory.Id)

                                                    {
                                                        <div class="col-md-3 col-xs-3 ">
                                                            <h3>@category.Name</h3>
                                                            <ul class="nav">
                                                                @foreach (var child in category.ChildCategories)
                                                                {
                                                                    <li><a href="/products?Id=@child.Id">@child.Name</a></li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-xs-9">
            <script type="text/javascript" src="assets/plugins/sliderpro/js/jquery.sliderPro.min.js"></script>
            <section  data-wow-duration="2s">
                <h3 class="ui-title-block"><i class="icon fa fa-bars"></i>Kampanyalar</h3>
                <div class="wrap-slider">

                    <div class="list-posts_mod-a list-posts_carusel list-unstyled owl-carousel owl-theme_mod-b owl-theme enable-owl-carousel"
                         data-min480="1"
                         data-min768="2"
                         data-min992="2"
                         data-min1200="2"
                         data-pagination="false"
                         data-navigation="true"
                         data-auto-play="4000"
                         data-stop-on-hover="true">
                        @foreach (var campaign in ViewBag.Campaigns)
                        {
                        <article class="list-posts__article clearfix">
                            <div class="img-hover-effect"><img class="img-responsive" src="~/uploads/@campaign.ImagePath" height="250" width="420" alt="Foto"></div>
                            <div class="list-posts__info">
                                <i class="icon icon-user"></i>
                                <span class="list-posts__autor"><a class="color_primary" href="javascript:void(0);">@campaign.CreatedBy</a></span> 
                                <i class="icon icon-calendar"></i><span class="list-posts__date">@campaign.StartedDate.ToString("dd:MM:yyyy")</span> 
                                / <i class="icon icon-calendar"></i><span class="list-posts__date">@campaign.EndDate.ToString("dd:MM:yyyy")</span>
                            </div>
                            <h2 class="list-posts__title">@campaign.Name</h2>
                            <p>@campaign.Slogan</p>
                            <a class="btn btn-info" asp-controller="Home" asp-action="CampaignDetail"  asp-route-id="@campaign.Id">Kampanya Detayları</a>
                        </article>
                        }
                    </div>

                </div>
                <!-- end wrap-slider -->
            </section>
            <!-- end section-area -->

            </div>
        </div>
    </div>
            <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <section class="section-area section-default wow bounceInRight" data-wow-duration="2s">
                                    <h3 class="ui-title-block"><i class="icon fa fa-bars"></i>Ürünler</h3>
                                    <div class="wrap-slider">
                                        <ul class="products clearfix owl-carousel owl-theme owl-theme_mod-b enable-owl-carousel"
                                            data-min480="2"
                                            data-min768="3"
                                            data-min992="3"
                                            data-min1200="4"
                                            data-pagination="false"
                                            data-navigation="true"
                                            data-auto-play="4000"
                                            data-stop-on-hover="true">
                                            
                                                @foreach (var product in ViewBag.SliderProducts)
                                                {
                                                    <li class="products__item">
                                                        <a class="products__foto" href="/Urun?id=@product.ImagePath" rel="prettyPhoto"> <img src="~/uploads/@product.ImagePath" style="height:260px;width:260px" height="260" width="260" alt="Goods"> </a>
                                                        <h4 class="products__name"><a href="/Urun?id=@product.Id">@product.Name</a></h4>
                                                        <div class="products__category"><a href="#">@product.Category.Name</a></div>
                                                        <div class="products__inner clearfix">
                                                            <span class="products__price-new">@product.DiscountPrice</span> <span class="products__price-old">@product.Price</span>
                                                            <ul class="rating">
                                                                <li><p>@product.Price-@product.DiscountPrice</p></li>
                                                              
                                                            </ul>
                                                        </div>
                                                    </li>
                                                }                                          
                                        </ul>
                                       

                                        <!-- end products -->
                                    </div>
                                    <!-- end wrap-slider -->
                                </section>
                                <!-- end section-area -->
                                <!-- end section-area -->
                            </div>
                        </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            
            <!-- end container -->
         
    



<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="section-area">
                <div class="isotope-frame wow bounceInRight" data-wow-duration="2s">
                    <ul class="isotope-filter products clearfix">
                        @foreach (var product in ViewBag.Products)
                        {
                            <li class="isotope-item best products__item">
                                <a class="products__foto" href="/Urun?id=@product.ImagePath"> <img src="~/uploads/@product.ImagePath" style="width:260px;height:260px" height="260" width="260" alt="Goods"> </a>
                                <h4 class="products__name"><a href="/Urun?id=@product.Id">@product.Name</a></h4>
                                <div class="products__category"><a href="#">@product.Category.ParentCategory.Name</a></div>
                                <div class="products__inner clearfix">
                                    <span class="products__price-new">@product.DiscountPrice</span> <span class="products__price-old">@product.Price</span>
                                    <ul class="rating">
                                        <li><i class="icon fa fa-star"></i></li>
                                        <li><i class="icon fa fa-star"></i></li>
                                        <li><i class="icon fa fa-star"></i></li>
                                        <li><i class="icon fa fa-star"></i></li>
                                        <li><i class="icon fa fa-star disabled"></i></li>
                                    </ul>
                                </div>
                                <footer class="products-btns clearfix">
                                    <p>@product.Description</p>
                                </footer>
                            </li>
                        }

                    </ul>
                </div>
            </div>
            <!-- end section-area -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->

