@model TreeStore.Models.Entities.Role

@{
    ViewData["Title"] = "Rol Sil";
}

<h3>Bu mesajı silmek istediğinize emin misiniz?</h3>
<div>

    <hr />
    <form asp-action="Delete">
        <dl class="dl-horizontal">
            <input type="hidden" asp-for="Id" />
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NormalizedName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NormalizedName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ConcurrencyStamp)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ConcurrencyStamp)
            </dd>
        </dl>


        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" />
            <a class="btn btn-default" asp-action="Index">Listeye Geri Dön</a>
        </div>
    </form>
</div>
