@model TreeStore.Models.Entities.Role

@{
    ViewData["Title"] = "Rol Detayları";
}

<h2>Rol Detayları</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NormalizedName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NormalizedName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConcurrencyStamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConcurrencyStamp)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="edit" asp-route-id="@Model.Id">Düzenle</a>
    <a class="btn btn-default" asp-action="Index">Listeye Geri Dön</a>
</div>
