@model TreeStore.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h2>Kategori Sil</h2>

<h3>Bu kategoriyi silmek istediğinize emin misiniz?</h3>
<hr />
<div>
    <div class="alert alert-danger">Silmek istediğiniz kategori ile ilişkili ürünler veya kategoriler varsa lütfen önce ilişkili kayıtları siliniz.</div>
    <form asp-action="Delete">
        <dl class="dl-horizontal">
            <dt>
                Kategori Adı
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                Üst Kategori
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ParentCategory.Name)
            </dd>
            <dt>
                Alt Kategoriler
            </dt>
            <dd>
                @foreach (var child in Model.ChildCategories)
            {

                    @child.Name;
                    <br />
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UpdateDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UpdateBy)
            </dd>

        </dl>
        <input type="hidden" asp-for="Id" />
        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> 
            <a class="btn btn-default" asp-action="Index">Listeye Geri Dön</a>
        </div>
    </form>
</div>
