@model TreeStore.Models.Category

@{
    ViewData["Title"] = "Kategori Detayları";
}

<h2>Kategori Detayları</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            Kategori Adı
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Üst Kategori
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParentCategory.Name)
        </dd>
        <dt>
            Alt Kategoriler
        </dt>
        <dd>
            @foreach (var child in Model.ChildCategories) {
                
                @child.Name;
                <br/>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Düzenle</a> 
    <a class="btn btn-default" asp-action="Index">Listeye Geri Dön</a>
</div>
